.row-tables {
    display: flex;
    justify-content: space-between;
}
.table-shell {
    flex-basis: 6%;
    min-width: 20px;
    padding: 1px;
    margin: 5px;
}
.table {
    background-color: bisque;
    height: 20px;
    cursor: pointer;
    text-align: center;
}